*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
}
/* Navigation things */
.Logo{
  width: 200px;
  position: absolute;
  top: -30px;
  left: 30px;
}
.Navi{
  display: block;
  padding: 4% 6%;
  text-align: right;
  z-index: 2;
}
.Navi ul{
  display: inline-flex;
  gap: 50px;
}
.Navi ul li{
  list-style: none;
}
.Navi a{
  text-decoration: none;
  font-style: italic;
  font-weight: 100;
}
.Navi a::after{
  content: '';
  display: block;
  background-color: bisque;
  height: 1px;
  width: 0%;
  transition: 0.5s;
}
.Navi a:hover::after{
  width: 100%;
}
/* Profile */
.Pro_Box{
  display: flex;
  margin-left: 15%;
  margin-right: 10%;
  height: 70vh;
}
.Name{
  margin-top: 23%;
  font-style: italic;
  flex: 1;
  float: left;
}
.Pro_Pic{
  width: auto;
  height: 100%;
  float: right;
}
.Name h1{
  
  font-size: xx-large;
}
.Name h3{
  font-weight: lighter;
  font-size: larger;
}